#links {
  text-align: right;
  padding: 25px;
}
#links img {
  padding-left: 20px;
  position: absolute;
  left: 0px;
}
#links a {
  padding-left: 18px;
  padding-right: 5px;
  color: black;
  text-decoration: none;
  font-size: 16px;
}
#links a:hover {
  text-decoration: underline;
}

#main {
  height: 75vh;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#main #image {
  padding: 20px;
}
#main #search-bar {
  border: 1px solid rgb(218, 217, 217);
  display: flex;
  height: 50px;
  border-radius: 30px;
  padding: 15px;
  align-items: center;
}
#main #search-bar img {
  width: 20px;
  opacity: 40%;
}
#main #search-bar input {
  padding-left: 14px;
  border: none;
  outline: none;
  font-size: 17px;
}
#main #search-bar:hover {
  box-shadow: 0 0 10px darkgray;
}
#main #buttons {
  padding: 20px;
  display: flex;
  justify-content: center;
}
#main #buttons input {
  border: solid 1px rgb(237, 235, 235);
  color: black;
  background-color: rgb(237, 235, 235);
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  font-weight: normal;
}
#main #buttons input:hover {
  border: solid 1px rgb(181, 179, 179);
  box-shadow: 0 0 2px darkgrey;
}
@media (min-width: 800px) {
  #main #search-bar, #main #search-bar input {
    width: 700px;
  }
}
@media (max-width: 799px) {
  #main #search-bar, #main #search-bar input {
    width: 88vw;
  }
}

#advanced-subheader {
  border-bottom: 1px solid rgb(188, 188, 188);
}
#advanced-subheader h2 {
  padding-top: 28px;
  padding-left: 37px;
  padding-bottom: 17px;
  color: rgb(230, 103, 57);
  font-size: 20px;
}

#advanced-main {
  padding: 40px;
}
#advanced-main #left-head {
  font-size: 18px;
  width: 180px;
  text-align: left;
  padding-bottom: 15px;
}
#advanced-main #right-head {
  font-size: 16px;
  font-weight: bold;
  color: rgb(112, 111, 111);
}
#advanced-main .to-do {
  padding-left: 10px;
  color: rgb(79, 78, 78);
  font-size: 13px;
  line-height: 115%;
}
#advanced-main .to-do b {
  font-weight: normal;
  font-size: 14px;
  font-family: "Courier New", Courier, monospace;
}
#advanced-main .text-description {
  font-size: 14px;
}
#advanced-main .input-field {
  padding: 10px;
}
#advanced-main .input-field input {
  width: 100%;
}
#advanced-main #double-field {
  display: flex;
  align-items: center;
}
#advanced-main #double-field input {
  width: 50%;
}
#advanced-main #double-field div {
  font-size: 14px;
  padding-left: 8px;
  padding-right: 8px;
}
#advanced-main input[type=text] {
  border: 1px solid rgb(193, 191, 191);
  outline: none;
}
#advanced-main input[type=text]:focus {
  border: 1px solid rgb(33, 130, 248);
  box-shadow: inset 0 0 3px rgb(161, 160, 160);
}
#advanced-main #button {
  text-align: right;
  padding: 10px;
}
#advanced-main #button input {
  color: white;
  font-weight: bold;
  font-size: 14px;
  padding: 8px;
  background-color: rgb(5, 146, 234);
  border: none;
  border-radius: 3px;
}
#advanced-main #button input:hover {
  background-color: rgb(5, 113, 195);
}
@media (min-width: 1100px) {
  #advanced-main .input-field {
    width: 600px;
  }
}
@media (max-width: 1099px) {
  #advanced-main #right-head, #advanced-main .to-do {
    opacity: 0%;
    width: 90vw;
    position: absolute;
  }
  #advanced-main .input-field {
    width: 55vw;
  }
}

/*# sourceMappingURL=style.css.map */
